cpp/build
cpp/profile
cpp/profile.*
cpp/CMakeLists.txt
cpp/cmake-build-debug
cpp/cmake-build-release
build/
profiles/
*.nsys-rep
cutlass/

**/__pycache__/
.vscode/
.vs/
.venv/
.idea/

dquery.cu
dquery
*.png
assets/tensor_core_fused.concepts